<?xml version="1.0"?>
<config>
    <modules>
        <Mageex_AbandonedRecover>
            <version>0.1.0</version>
        </Mageex_AbandonedRecover>
    </modules>
    <frontend>
        <routers>
            <abandonedrecover>
                <use>standard</use>
                <args>
                    <module>Mageex_AbandonedRecover</module>
                    <frontName>abandonedrecover</frontName>
                </args>
            </abandonedrecover>
        </routers>
        <layout>
            <updates>
                <abandonedrecover>
                    <file>abandonedrecover.xml</file>
                </abandonedrecover>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<abandonedrecover>
				<use>admin</use>
				<args>
					<module>Mageex_AbandonedRecover</module>
					<frontName>abandonedrecover</frontName>
				</args>
			</abandonedrecover>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<abandonedrecover module="abandonedrecover">
				<title>AbandonedRecover</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="abandonedrecover">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>abandonedrecover/adminhtml_abandonedrecover</action>
					</items>
				</children>
			</abandonedrecover>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mageex_AbandonedRecover>
							<title>AbandonedRecover Module</title>
							<sort_order>10</sort_order>
						</Mageex_AbandonedRecover>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<abandonedrecover>
					<file>abandonedrecover.xml</file>
				</abandonedrecover>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <abandonedrecover>
                <class>Mageex_AbandonedRecover_Model</class>
                <resourceModel>abandonedrecover_mysql4</resourceModel>
            </abandonedrecover>
            <abandonedrecover_mysql4>
                <class>Mageex_AbandonedRecover_Model_Mysql4</class>
                <entities>
                    <abandonedrecover>
                        <table>abandonedrecover</table>
                    </abandonedrecover>
                </entities>
            </abandonedrecover_mysql4>
        </models>
        <resources>
            <abandonedrecover_setup>
                <setup>
                    <module>Mageex_AbandonedRecover</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </abandonedrecover_setup>
            <abandonedrecover_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </abandonedrecover_write>
            <abandonedrecover_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </abandonedrecover_read>
        </resources>
        <blocks>
            <abandonedrecover>
                <class>Mageex_AbandonedRecover_Block</class>
            </abandonedrecover>
        </blocks>
        <helpers>
            <abandonedrecover>
                <class>Mageex_AbandonedRecover_Helper</class>
            </abandonedrecover>
        </helpers>
    </global>
</config>